




.records_divs {
  overflow-y: scroll;
  display: flex;
  height: 150px;
  flex-direction: column-reverse
}

body {
  background: #e6f3ff;
  padding: 5px;
  font-family: Helvetica;
}

#layout {
  background: rgba(74, 210, 241, 0);
  border-radius: 4px;

  font-size: 15px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
}


button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

button:hover {
  background-color: #f80a0a;
  cursor: pointer;
}


.delete_button {
  background-color: #e02525;
}

.delete_button:hover {
  background-color: #ff0000;
  cursor: pointer;
}

.add_button {
  background-color: #43d00f;
}

.add_button:hover {
  background-color: #4fff0e;
  cursor: pointer;
}




/*
#results table {
  margin-left:auto;
  margin-right:auto;
}
*/

.group_div {
  font-size: 10px;
}

.topics table, .topics tr, .topics th, .topics td{
  font-size: 15px;
  padding:3px 10px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px;
  height: 370px;
}

.inactive td, .inactive th, .inactive tr{
  background-color: rgba(239, 231, 231, 0.23);
  color: rgba(222, 222, 222, 0.91);
}

.producer td, .producer th, .producer tr {
  background-color: #4af1de;
  color: #000000;
}

input[type='number']{
  width: 50px;
}

td, th {
  border: 2px solid #000000;
  text-align: center;
  padding:6px 20px;

}

tr th {
  border: 2px solid #000000;
  text-align: center;
  padding:6px 20px;
  background-color: #4a69f1;
  color:#fff;
}

.active tr:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.content td, .content th {
  border-top: 1px solid transparent;
  padding: 2px 10px 2px 15px;
}
